@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,500;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  @apply font-barlow;
}